/* Common CSS */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Stalemate&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;

    /* font-family: 'Cookie', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Stalemate', cursive; */
}

img {
    max-width: 100%;
}
.section-header h2 {
    font-size: 50px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "Cookie", cursive;
    margin-bottom: 50px;
}
.m-auto {
    margin: 0 auto;
}

.extra-padding {
    padding: 70px 80px;
}

.custom-background {
    background-color: #ddd;
}

.mb {
    margin-bottom: 11px !important;
}
.mt {
    margin-top: 120px !important;
}

/* Header Area */
.header-banner img {
    max-width: 100%;
}
header.header {
    max-width: 100%;
    position: relative;
}

.heder-top {
    padding: 10px 0;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo img {
    width: 100px;
    height: auto;
}

.main-menu {
    position: absolute;
    right: 66px;
    top: 20px;
    display: inline-flex;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: inline-block;
}

.header-profile img {
    width: 50px;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 4px;
}

.main-menu nav a {
    display: inline-block;
    padding: 11px 17px;
    font-size: 20px;
    transition: 0.5s;
}

.main-menu nav a:hover {
    color: #088dcd;
}

.main-menu nav a i span {
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    color: #088dcd;
}
/* User Image & Followers */
.user-img img {
    width: 192px;
    height: auto;
    border-radius: 77px;
    border: 5px solid #fff;
}

.profile-image {
    width: 100%;
    /* margin-right: 50px; */
    padding-left: 75px;
    position: absolute;
    bottom: -60px;
    left: 0;
}

.followers {
    position: absolute;
    right: 50px;
    top: 0px;
}

.followers a {
    display: inline-block;
    color: #fff;
    margin-right: 38px;
    font-size: 18px;
    padding: 10px 20px;
    background: transparent;
    transition: 0.5s;
}

a.add-friend {
    background-color: #088dcd;
    border: 1px solid #088dcd;
}

.followers a:hover {
    color: #088dcd;
}

a.add-friend:hover {
    display: inline-block;
    color: #088dcd;
    background: transparent;
    border: 1px solid #088dcd;
}

/* Profile Menu Section */
section.profile-menu {
    width: 59%;
    margin: 0 auto;
    padding: 17px 0;
    position: relative;
}

section.profile-menu nav {
    display: inline;
}

.profile-name {
    font-size: 31px;
    margin-right: 60px;
    color: #088dcd;
    max-width: 35%;
}

.profile-name span {
    font-size: 11px;
    color: #043061;
    font-weight: 700;
}

section.profile-menu nav a {
    display: inline-block;
    color: #000;
    font-size: 18px;
    margin-right: 23px;
    font-weight: 500;
    transition: 0.5s;
}

section.profile-menu nav a:hover {
    color: #088dcd;
}

.profileMenu {
    position: absolute;
    right: 0;
    top: 12px;
}

.active-menu,
.active {
    color: #088dcd !important;
    font-weight: bold;
}
.active-menu {
    position: relative;
}

a.active-menu:after {
    position: absolute;
    content: "";
    width: 70px;
    height: 3px;
    bottom: 0;
    left: 4px;
    background-color: #088dcd;
}
/* About Area */
section.about {
    display: flex;
    margin-bottom: -4px;
}

.about-image img {
    max-width: 100%;
    position: relative;
    height: 100%;
    padding: 0 60px;
}

.about-image {
    width: 50%;
}

h2.about-title {
    font-size: 50px;
    font-family: "Cookie", cursive;
    margin-bottom: 18px;
    color: #000;
}

.about-content h3 {
    font-size: 26px;
    font-family: "Stalemate", cursive;
    margin-bottom: 15px;
}
.about-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding: 0 80px;
    font-size: 16px;
    line-height: 1.5;
    color: darkcyan;
}
.about-content p {
    margin-bottom: 20px;
}
.about-image :after {
    position: absolute;
    content: "";
    width: auto;
    height: auto;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
    display: block;
    color: red;
    font-size: 50px;
}

/* Services Area */
.service-area {
    display: flex;
    box-sizing: border-box;
}
.service-box {
    padding: 27px 27px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 8px 9px 16px #0999;
    margin-bottom: 100px;
    line-height: 1.5;
    position: relative;
    transition: 0.5s;
}

.active-services .service-title h3 {
    color: #fff;
}

.service-box:hover,
.active-services {
    background-color: #043061;
    color: #fff;
    box-shadow: 8px 9px 16px #000;
}

.service-box:hover .service-title h3 {
    color: #fff;
}

.service-icon {
    width: 71px;
    margin: 0 auto;
    border-radius: 62%;
    position: absolute;
    left: 50%;
    top: -61px;
    margin-left: -71px;
}

.service-icon i {
    position: absolute;
    top: 8px;
    left: 50%;
    font-size: 41px;
    color: #043061;
    line-height: 2;
    padding: 13px;
    background-color: #fff;
    border-radius: 50%;
    width: 107px;
    margin-left: -22px;
}

.service-title h3 {
    font-size: 20px;
    margin-top: 37px;
    font-family: "Stalemate", cursive;
    color: #043061;
    margin-bottom: 19px;
    padding-bottom: 10px;
    position: relative;
}

.service-title h3:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #fff, #088dcd, #fff);
}
/* Contact Area */
.contact-info {
    display: flex;
}

.contact-content {
    box-sizing: border-box;
    width: 35%;
    padding: 0 20px;
    color: darkslategray;
    line-height: 1.5;
    position: relative;
}

.contact-content h3 {
    font-size: 30px;
    font-family: "Stalemate", cursive;
    margin-bottom: 20px;
}

.contact-content p {
    margin-bottom: 20px;
    font-size: 17px;
    font-family: "Stalemate", cursive;
}

.address ul li {
    display: block;
    margin-bottom: 3px;
}

.address ul li a i {
    font-size: 25px;
    margin-right: 14px;
}

.address ul li a {
    color: #000;
    display: block;
}

.address {
    padding-bottom: 30px;
}

.social-icon ul li {
    display: inline-block;
}

.social-icon ul li a {
    margin-right: 20px;
}

.social-icon ul li a i {
    font-size: 50px;
    color: darkcyan;
}

.contact-content:after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 3px;
    height: 243px;
    content: "";
    background: linear-gradient(to top, #fff, #088dcd, #fff);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    margin-top: -120px;
    border-radius: 4px;
}

.contact-from {
    padding: 0 70px;
}

.contact-from form {
    display: inline-grid;
}

.contact-from input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 19px 37px;
    border-radius: 32px;
    background-color: transparent;
    transition: 0.3s;
    border: 2px solid #000;
    color: #000;
    font-size: 15px;
}

.contact-from input[type="text"]:hover,
input[type="email"]:hover,
input[type="submit"]:hover {
    border: 2px solid #088dcd;
    color: #088dcd;
}

.contact-from input[type="submit"] {
    background-color: #088dcd;
    width: 40%;
    transition: 0.3s;
    padding: 19px 37px;
    border-radius: 32px;
    color: #fff;
    border: 2px solid #fff;
}

.contact-from input[type="submit"]:hover {
    background-color: transparent;
    border: 2px solid #088dcd;
    color: #088dcd;
}
/* Blog Area */
.blog-info {
    display: flex;
    margin-bottom: 50px;
}

.bog-image {
    box-sizing: border-box;
    width: 70%;
}

.bog-image img {
    border-radius: 10px;
}

.blog-info-content {
    background-color: #fff;
    padding: 7px 32px;
    width: 30%;
    border-radius: 10px;
}

.blog-content-title h3 {
    font-size: 20px;
    font-family: "Stalemate", cursive;
    margin-bottom: 13px;
}

.blog-info-box {
    margin-bottom: 10px;
    background-color: #ddd;
    padding: 9px 27px;
    transition: 0.5s;
}

.blog-info-box p {
    line-height: 1.3;
}

.blog-info-box h4 {
    color: #808;
    cursor: pointer;
    margin-bottom: 3px;
}

.blog-info-box:hover {
    background-color: #fff;
}

.active-blog {
    background-color: #fff;
}

.blog-area {
    display: flex;
}

.bog-box {
    padding: 14px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}

.bog-box img {
    min-width: 368px;
    max-height: 176px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog-content {
    line-height: 1.5;
}

.blog-content button {
    padding: 9px 18px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-top: 14px;
    color: #fff;
    background-color: #088dcd;
    transition: 0.3s;
    cursor: pointer;
}

.blog-content button:hover {
    background: transparent;
    color: #000;
    border: 1px solid #000;
}

.bog-box:hover {
    background-color: #fff;
}

/* Footer Top Area */
.footer-top div {
    display: inline-block;
    padding: 40px 44px;
    max-width: 42%;
    box-sizing: border-box;
}

footer {
    border-top: 4px solid transparent;
    background: linear-gradient(#fff, #fff),
        linear-gradient(to right, #fff, #088dcd, #fff);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; /* this is important */
    padding-top: 40px;
}

.download-apps button {
    display: block;
    padding: 7px 24px;
    margin-bottom: 25px;
    background: transparent;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid #000;
    cursor: pointer;
}
.download-apps button:hover {
    color: #088dcd;
    border: 1px solid #088dcd;
}
.download-apps i {
    margin-right: 10px;
}

.download-apps i {
    margin-right: 10px;
}

h3.footer-header {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-top ul li {
    display: block;
}

.footer-top ul li a {
    display: block;
    color: rgb(116, 109, 109);
    margin-bottom: 14px;
    font-size: 15px;
    transition: 0.5s;
}

.footer-top ul li a:hover {
    color: #088dcd;
}

.footer-top ul li a i {
    margin-right: 11px;
    color: rgb(116, 109, 109);
}
.footer-top ul li a:hover i {
    color: #088dcd;
}

.footer-top p {
    margin-bottom: 15px;
    color: rgb(116, 109, 109);
}

.footer-top p i {
    margin-right: 13px;
}

.footer-logo img {
    margin-bottom: 10px;
    width: 120px;
}
/* Footer Bottom Area */
.footer-bottom {
    background-color: #ddd;
    padding: 20px 40px;
}

.footer-bottom p {
    color: #000;
    font-size: 14px;
}
